<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
  
      <div class="navbar-header">
          <a class="navbar-brand" href="/">
              <span class="glyphicon glyphicon-hand-up"></span>
              Nerdzao - Claudiney Junior
          </a>
  
          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/translator">Watson Translator</a></li>
              <li><a href="/tone-analyzer">Tone Analyzer</a></li>
              <li><a href="/twitter">Twitter</a></li>
              <li><a href="/tone-twitter">Integração</a></li>
          </ul>
      </div>
  
    </div>
  </nav>