<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ./modulos/head %>
</head>
<body class="container">

<header>
    <% include ./modulos/header %>
</header>

<main>
    <div class="jumbotron">
        <h2>Tone analyzer de Tweets</h2>
        <p>Welcome to templating using EJS</p>
    </div>
</main>

<footer>
    
</footer>

</body>
</html>