<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ./modulos/head %>
</head>

<body class="container">

<header>
    <% include ./modulos/header %>
</header>

<main>
    <div class="col-md-12 main-div">
        <form class="information-input" method="POST" action"/twitter-post">
            <div class="form-group">
              <input type="hidden" value="postar" name="acao">
              <label for="textToPost">Postar um tweet</label>
              <input type="text" class="form-control" id="textToPost" name="textToPost" placeholder="Digite o texto a postar">
              <small id="emailHelp" class="form-text text-muted">O que quer postar em seu twitter?</small>
            </div>
            <button type="submit" class="btn btn-primary">Postar</button>
        </form>
        <% if(resposta.success != undefined) { %>
          <div class="alert alert-info">
            <ul>
              <li><%=resposta.success.msg%></li>
            </ul>
          </div>
        <% } %>
        <% if(resposta.erro > 0) { %>
          <div class="alert alert-danger">
            <strong>Atenção!</strong>
            <ul>
              <%=resposta.erro.msg%>
            </ul>
          </div>
        <% } %>

        <form class="information-input" method="POST" action"/twitter-post">
          <div class="form-group">
            <input type="hidden" value="listar" name="acao">
            <label for="textToSearch">Postar um tweet</label>
            <input type="text" class="form-control" id="textToSearch" name="textToSearch" placeholder="Digite o texto a buscar">
            <small id="emailHelp" class="form-text text-muted">O que quer buscar no twitter?</small>
          </div>
          <button type="submit" class="btn btn-primary">Buscar</button>
      </form>
    </div>
</main>

<footer>
    
</footer>
</body>
</html>